body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition:background-color 0.5s;
}
.container{

    text-align: center;

}
h1{
    margin-bottom: 25px;

}
#color-input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}
#change-color-button{
    padding: 10px 20px;
    border: none;
    background-color: #5f5fff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#change-color-button:hover{
    background-color:#3333ff;
}