* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #002244;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.loader div {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: Load 0.8s ease infinite;
}

.loader .one {
  animation-delay: 0.3s;
}

.loader .two {
  animation-delay: 0.4s;
}

.loader .three {
  animation-delay: 0.5s;
}

.loader .four {
  animation-delay: 0.6s;
}

@keyframes Load {
  0% {
    width: 30px;
    height: 30px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}
